editor=code
registry=http://registry.npmjs.org/
strict-ssl=false
# proxy=http://v128477:ekZVc%21uf@proxy.ebiz.verizon.com:80
proxy="null"
# https-proxy=http://v128477:ekZVc%21uf@proxy.ebiz.verizon.com:80
https-proxy="null"
