/* Coolors Exported Palette - coolors.co/cfdbd5-e8eddf-f5cb5c-242423-333533 */

/* HSL */
$color1: hsla(150%, 14%, 84%, 1);
$color2: hsla(81%, 28%, 90%, 1);
$color3: hsla(44%, 88%, 66%, 1);
$color4: hsla(60%, 1%, 14%, 1);
$color5: hsla(120%, 2%, 20%, 1);

/* RGB */
$color1: rgba(207, 219, 213, 1);
$color2: rgba(232, 237, 223, 1);
$color3: rgba(245, 203, 92, 1);
$color4: rgba(36, 36, 35, 1);
$color5: rgba(51, 53, 51, 1);